<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{> Navbar}}

    <div class="container">
        <h1>Reset Password link</h1>
        <form method="POST" action="/forgot-password">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">reset link</button>
        </form>
      </div>
</body>
</html>