<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <style>
        .history_card{
            padding:4rem;
            font-size: 2rem;
            
        }
        .history-item{
            background-color: white;
            border-radius: 2rem;
            padding:1rem;
        }
    </style>
</head>
<body>
    {{> Navbar}}
    <div class="content_center history_card">
        <h1 style="text-align:center">You past result: </h1>
        {{#each history}}
            <div class="history-item">
                <h2>Game {{@index}}</h2> <!-- @index gives the current index -->
                <p>Username: {{username}}</p>
                <p>winnerType: {{winnerType}}</p>
                <p>Date: {{date}}</p>
            </div>
            <hr>
        {{/each}}
    </div>
</body>
</html>