<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            font-size: 62.5%;
        }
        .content_center{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            width:100%;
        }
        .title{
            background-color: wheat;
            padding:2rem;
            font-size: 6rem;
            font-weight: 700;
        }
        .sign{
            font-size: 2rem;
        }
    </style>
</head>
<body>
    {{> Navbar}}

    <div class="content_center">
        <a class="title" href="/play">Start Playing</a>
        <br><br>
        <p class="sign">login first then click on start playing button</p>
    </div>
<script>
    const btn = document.querySelector('.title');
    btn.style.pointerEvents = "none";
    btn.style.backgroundColor = "gray";


    if((document.cookie)){
    btn.style.pointerEvents = "auto";
    btn.style.backgroundColor = "wheat";
    }


</script>
</body>
</html>