<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{> Navbar}}

    <div class="container">
        <h1>Reset Password</h1>
        <form method="POST" action="/reset-password/{{token}}">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="password" required>
          <label for="confirmPassword">New confirm Password:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" required>
          <button type="submit">reset password</button>
        </form>
      </div>
</body>
</html>